.header-filter {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#43b422+0,28a673+50,0996ce+100;greenbluegrad */
  background: #43b422;
  /* Old browsers */
  background: -moz-linear-gradient(top, #43b422 0%, #28a673 50%, #0996ce 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #43b422 0%, #28a673 50%, #0996ce 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #43b422 0%, #28a673 50%, #0996ce 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#43b422', endColorstr='#0996ce', GradientType=0);
  /* IE6-9 */
  background-size: cover;
}
.page-header .container .hestia-title {
  background-image: url("../images/06-LogoEnclosed-150x150.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
